.navbar {
background-color: #01204E;
color: white;
padding: 1rem;
display: flex;
flex-direction: column;
align-items: center;
}

.navbar-content {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .logo {
    height: 65px;
    margin-right: 1rem;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  .new-transaction-button {
    background-color: #FAA968; 
    color: white;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 1rem;
  }
  
  .new-transaction-button:hover {
    background-color: #F85525; 
  }